<div class="post-meta">
    发表于 <time>{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006, 15:04" }}{{ end }}</time>
  {{ $baseUrl := .Site.BaseURL }}
  {{ if isset .Params "tags" }}
  {{ $count := len .Params.tags }}
  {{ if gt $count 0 }}
  , 标签: 「
    {{ range $k, $v := .Params.tags }}
      <a class="post-taxonomy-tag" href="{{ $baseUrl }}tags/{{ . | urlize }}">{{ . }}</a>{{ if lt $k (sub $count 1) }}&nbsp;&#47;{{ end }}
    {{ end }}
」
  {{ end }}
  {{ end }}

</div>
